{% extends 'mem/base.html' %}

{% block content %}

<h1> {{ title }}</h1>
    <h1>
        <h2 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">Деятельноcть ТОО «Мангистауэнергомунай»</h2><p><p style="text-align:justify;">ТОО «Мангистауэнергомунай» (первоначальное наименование ПУ
            «Каламкасэнергомунай») было создано в январе 1995 года, приказом ПО
            «Мангышлакнефть» №11 от 25.01.1995 г.  на
            базе прокатно- ремонтного цеха электрооборудования и энергоснабжения НГДУ
            «Комсомольскнефть» и производственно-технической службы №4 ПУ
            «Узеньэнергонефть», как специализированное предприятие для обслуживания
            электрических сетей, электроустановок и в целях повышения надежности и
            безопасности эксплуатации различной сложности электрооборудования используемых
            в процессе добычи и подготовки нефти на месторождениях Каламкас и Жетыбай.</p>

            <p style="text-align:justify;">В декабре 1995 года ПУ
            «Каламкасэнергомунай», на основании Свидетельства о государственной
            перерегистрации юридического лица № 149-1943-ТОО было преобразовано в
            Товарищество с ограниченной ответственностью «Мангистауэнергомунай» (далее ТОО
            «МЭМ», компания). </p>

            <p style="text-align:justify;">ТОО «МЭМ» - является специализированной организацией выполняющей ремонт и
            техническое обслуживание электродвигателей, генераторов и трансформаторов,
            электрораспределительной и регулирующей аппаратуры, электроосветительного
            оборудования, ремонт и технический уход прочего электрооборудования, не
            включенного в другие категории, строительство распределительных объектов для
            обеспечения электроэнергией, земляные работы, прочие отделочные работы,
            кровельные работы,  электротехнические и
            монтажные работы. Основным заказчиком услуг и работ является АО
            «Мангистаумунайгаз» и дочерние организации группы компаний АО НК «КазМунайГаз».
            В настоящее время ТОО «МЭМ» в своей деятельности является специализированным
            предприятием по эксплуатации электрораспределительных сетей, а также, начиная с
            2014 года, в связи с вводом в эксплуатацию газотурбинной электрической станции
            ГТЭС-2х45МВт на месторождении Каламкас, имеет статус компании, относящейся к
            категории «энергопроизводящие организации» (ЭПО) согласно Электросетевых Правил
            Республики Казахстан. </p>

            <p style="text-align:justify;">ТОО «Мангистауэнергомунай» с 10 июня 2011 года входит в группу компаний ТОО
            «Актаунефтесервис» АО НК «КазМунайГаз». С 23 декабря 2016 года является 100%
            дочерней организацией АО НК «КазМунайГаз» первого уровня.</p>

            <p style="text-align:justify;"><span style="color:#000000;">В ТОО «Мангистауэнергомунай» функционирует
            интегрированная система менеджмента качества, экологии, здоровья и безопасности
            соответствующая требованиям международных стандартов ISO 9001:2015, ISO
            14001:2015, ISO 45001:2018.</span></p>

            <p style="text-align:justify;"><span style="color:#000000;">В Политике в области качества ТОО «МЭМ»
            изложены обязательства и задачи, которые ставятся перед персоналом для
            обеспечения удовлетворения требований и ожиданий Заказчиков на основе
            постоянного улучшения качества оказываемых услуг в соответствии с требованиями
            законодательства Республики Казахстан, международных и государственных
            стандартов, корпоративных требований. </span></p>

            <p style="text-align:justify;"><span style="color:#000000;">В соответствии с Политикой ТОО «МЭМ» в
            области охраны труда, промышленной безопасности и окружающей среды безусловными
            приоритетами являются безопасность жизни и здоровья работников и охрана
            окружающей среды.</span></p>
    </h1>

{% endblock %}